/* The root app has its text centered*/
.App {
  text-align: center;
}

/* Here we are ensuring anything with display class center should appear on the same line */
.center {
  display: flex;
  justify-content: center;
}

/* Particles trick should cover the full screen and be below everything else on the page */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}